@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores em CSS */
:root {
    --color-light: #f1f1f1;
    --color-dark: #333333;
    --color-blue-100: rgb(35, 88, 185);
    --color-blue-800: rgb(4, 7, 42);
    --radius: 8px;
    --gradient: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .45));
    --transition: .5s;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Azeret Mono";
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: color var(--transition);   
}

a:hover {
    color: var(--color-blue-100)
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}



/* Começo do Hero */
.hero {
    width: 100%;
    min-height: 100dvh;
    padding: 3rem;
    background-image: var(--gradient), url(../assets/sung_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 4.5rem;
    position: relative;
    z-index: 2;
}

span {
    color: var(--color-blue-100);
}

.header-menu {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.sanduiche {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
}

/* span => tag inline, precisa do block para aparecer */
/* Monta o menu "hamburguinho" */
.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-light);
    margin: .5rem auto;
    border-radius: var(--radius);
    transition: var(--transition); /* Animação para que quando o menu for clicado, tenha a animação na barra */
}

.header-footer h1 {
    /* px não é legal pensando no responsivo pois quando definido em pixels ele é fixo. */
    /* vmax => medida baseada na viewport */
    font-size: clamp(4.5rem, 8vmax, 10rem); /* clamp(min, ideal, max) => Você define 3 possíveis valores 1 min, 1 ideal e outro máximo. */
}
.header-footer p {
    font-size: 2rem;
    font-weight: 800;
    margin-left: .5rem;
}
/* Final do Hero */

/* Motivations */

.container {
    padding: 1rem 4rem;
    margin-top: 3rem;
}

.titles {
    font-size: 4.5rem;
    width: 60%;
}

.motiva-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* boa prática para que ele sempre quebre quando ultrapassar o tamanho definido*/
}

.motiva-grid-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.motiva-grid-item img {
    border-radius: var(--radius);
    filter: grayscale(1);
    width: 80%;
    transition: var(--transition);
    cursor: pointer;
}

.motiva-grid-item:hover  img{
    filter: grayscale(0);
    scale: 1.05;
}

.motiva-grid-item p {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: var(--transition);
}

.motiva-grid-item:hover p {
    letter-spacing: 3px;
}

/* Final da Motivação */